In [57]:
import pandas as pd
import os

In [58]:
month_num_to_name = {
    1: 'January',
    2: 'February',
    3: 'March',
    4: 'April',
    5: 'May',
    6: 'June',
    7: 'July',
    8: 'August',
    9: 'September',
    10: 'October',
    11: 'November',
    12: 'December'
}

# Data processing

In [59]:
data_base_path ='Data/Raw_airbnb'

In [60]:
# List all files that match the pattern
file_list = [f'{data_base_path}/listings_{i}.csv' for i in range(1, 13)]

# Read and concatenate all CSV files
df = pd.concat([pd.read_csv(file) for file in file_list], ignore_index=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452951 entries, 0 to 452950
Data columns (total 79 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   id                                            452951 non-null  int64
 1   listing_url                                   452951 non-null  object
 2   scrape_id                                     452951 non-null  int64
 3   last_scraped                                  452951 non-null  object
 4   source                                        452951 non-null  object
 5   name                                          452927 non-null  object
 6   description                                   440060 non-null  object
 7   neighborhood_overview                         251217 non-null  object
 8   picture_url                                   452940 non-null  object
 9   host_id                                       452951 non-null  int64
 10  host_url                                      452951 non-null  object
 11  host_name                                     452856 non-null  object
 12  host_since                                    452856 non-null  object
 13  host_location                                 356354 non-null  object
 14  host_about                                    256993 non-null  object
 15  host_response_time                            268757 non-null  object
 16  host_response_rate                            268757 non-null  object
 17  host_acceptance_rate                          285367 non-null  object
 18  host_is_superhost                             448466 non-null  object
 19  host_thumbnail_url                            452856 non-null  object
 20  host_picture_url                              452856 non-null  object
 21  host_neighbourhood                            361959 non-null  object
 22  host_listings_count                           452856 non-null  float64
 23  host_total_listings_count                     452856 non-null  float64
 24  host_verifications                            452856 non-null  object
 25  host_has_profile_pic                          452856 non-null  object
 26  host_identity_verified                        452856 non-null  object
 27  neighbourhood                                 251229 non-null  object
 28  neighbourhood_cleansed                        452951 non-null  object
 29  neighbourhood_group_cleansed                  452951 non-null  object
 30  latitude                                      452951 non-null  float64
 31  longitude                                     452951 non-null  float64
 32  property_type                                 452951 non-null  object
 33  room_type                                     452951 non-null  object
 34  accommodates                                  452951 non-null  int64
 35  bathrooms                                     277436 non-null  float64
 36  bathrooms_text                                452561 non-null  object
 37  bedrooms                                      382977 non-null  float64
 38  beds                                          275689 non-null  float64
 39  amenities                                     452951 non-null  object
 40  price                                         277026 non-null  object
 41  minimum_nights                                452951 non-null  int64
 42  maximum_nights                                452951 non-null  int64
 43  minimum_minimum_nights                        452934 non-null  float64
 44  maximum_minimum_nights                        452934 non-null  float64
 45  minimum_maximum_nights                        452934 non-null  float64
 46  maximum_maximum_nights                        452934 non-null  float64
 47  minimum_nights_avg_ntm                        452934 non-null  float64
 48  maximum_nights_avg_ntm                        452934 non-null  float64
 49  calendar_updated                              0 non-null       float64
 50  has_availability                              388262 non-null  object
 51  availability_30                               452951 non-null  int64
 52  availability_60                               452951 non-null  int64
 53  availability_90                               452951 non-null  int64
 54  availability_365                              452951 non-null  int64
 55  calendar_last_scraped                         452951 non-null  object
 56  number_of_reviews                             452951 non-null  int64
 57  number_of_reviews_ltm                         452951 non-null  int64
 58  number_of_reviews_l30d                        452951 non-null  int64
 59  first_review                                  312403 non-null  object
 60  last_review                                   312403 non-null  object
 61  review_scores_rating                          312404 non-null  float64
 62  review_scores_accuracy                        312219 non-null  float64
 63  review_scores_cleanliness                     312339 non-null  float64
 64  review_scores_checkin                         312171 non-null  float64
 65  review_scores_communication                   312279 non-null  float64
 66  review_scores_location                        312136 non-null  float64
 67  review_scores_value                           312147 non-null  float64
 68  license                                       63485 non-null   object
 69  instant_bookable                              452951 non-null  object
 70  calculated_host_listings_count                452951 non-null  int64
 71  calculated_host_listings_count_entire_homes   452951 non-null  int64
 72  calculated_host_listings_count_private_rooms  452951 non-null  int64
 73  calculated_host_listings_count_shared_rooms   452951 non-null  int64
 74  reviews_per_month                             312403 non-null  float64
 75  availability_eoy                              75234 non-null   float64
 76  number_of_reviews_ly                          75234 non-null   float64
 77  estimated_occupancy_l365d                     75234 non-null   float64
 78  estimated_revenue_l365d                       45503 non-null   float64
dtypes: float64(26), int64(17), object(36)
memory usage: 273.0+ MB

In [61]:
# Filter relavent columns
df_filtered = df[['id','last_scraped', 'neighbourhood_cleansed','neighbourhood_group_cleansed','latitude', 'longitude', 'room_type', 'accommodates', 'bathrooms', 'bedrooms','beds', 'price', 'minimum_nights','maximum_nights']].copy()

# Change 'last_scraped' to datatime to extract the month column 
df_filtered['last_scraped'] = pd.to_datetime(df_filtered['last_scraped'])
df_filtered['month'] = df_filtered['last_scraped'].dt.month


df_filtered.info()
df_filtered.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452951 entries, 0 to 452950
Data columns (total 15 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   id                            452951 non-null  int64
 1   last_scraped                  452951 non-null  datetime64[ns]
 2   neighbourhood_cleansed        452951 non-null  object
 3   neighbourhood_group_cleansed  452951 non-null  object
 4   latitude                      452951 non-null  float64
 5   longitude                     452951 non-null  float64
 6   room_type                     452951 non-null  object
 7   accommodates                  452951 non-null  int64
 8   bathrooms                     277436 non-null  float64
 9   bedrooms                      382977 non-null  float64
 10  beds                          275689 non-null  float64
 11  price                         277026 non-null  object
 12  minimum_nights                452951 non-null  int64
 13  maximum_nights                452951 non-null  int64
 14  month                         452951 non-null  int32
dtypes: datetime64[ns](1), float64(5), int32(1), int64(4), object(4)
memory usage: 50.1+ MB

,id,last_scraped,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,room_type,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,maximum_nights,month
0,39572,2025-01-03,Hell's Kitchen,Manhattan,40.76203,-73.98869,Private room,2,NaN,1.0,1.0,$139.00,30,1125,1
1,39593,2025-01-03,Sunnyside,Queens,40.74523,-73.92318,Private room,1,1.0,1.0,1.0,$78.00,31,150,1
2,39704,2025-01-03,Bedford-Stuyvesant,Brooklyn,40.68216,-73.94594,Entire home/apt,4,NaN,1.0,NaN,NaN,30,30,1
3,42300,2025-01-03,Lower East Side,Manhattan,40.71992,-73.99167,Entire home/apt,5,2.0,3.0,4.0,$750.00,30,240,1
4,42729,2025-01-03,Carroll Gardens,Brooklyn,40.67813,-74.00062,Private room,2,1.0,1.0,1.0,$185.00,30,60,1

In [62]:
# Filter our listings with high amount of bedrooms and bedrooms 
df_filtered = df_filtered[df_filtered['bedrooms'] <= 4]
df_filtered = df_filtered[df_filtered['bathrooms'] <= 4]
df_filtered = df_filtered[df_filtered['beds'] <= 4]

In [ ]:
#Filter out all listings that has less than 28 days maximum nights (less than a month)
df_filtered = df_filtered[df_filtered['maximum_nights'] >= 28].copy()

# Convert price strings to numbers 
if not pd.api.types.is_numeric_dtype(df_filtered['price']):
    df_filtered['price'] = df_filtered['price'].str.replace('$', '', regex=False).str.replace(',', '')
    df_filtered['price'] = pd.to_numeric(df_filtered['price'], errors='coerce')
    
# New column monthly rent (price * 30 days) 
df_filtered['monthly_price'] = df_filtered['price'] * 30

df_filtered.info()
df_filtered.head()

<class 'pandas.core.frame.DataFrame'>
Index: 258543 entries, 1 to 452950
Data columns (total 16 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   id                            258543 non-null  int64
 1   last_scraped                  258543 non-null  datetime64[ns]
 2   neighbourhood_cleansed        258543 non-null  object
 3   neighbourhood_group_cleansed  258543 non-null  object
 4   latitude                      258543 non-null  float64
 5   longitude                     258543 non-null  float64
 6   room_type                     258543 non-null  object
 7   accommodates                  258543 non-null  int64
 8   bathrooms                     258543 non-null  float64
 9   bedrooms                      258543 non-null  float64
 10  beds                          258543 non-null  float64
 11  price                         258162 non-null  float64
 12  minimum_nights                258543 non-null  int64
 13  maximum_nights                258543 non-null  int64
 14  month                         258543 non-null  int32
 15  monthly_price                 258162 non-null  float64
dtypes: datetime64[ns](1), float64(7), int32(1), int64(4), object(3)
memory usage: 32.5+ MB

,id,last_scraped,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,room_type,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,maximum_nights,month,monthly_price
1,39593,2025-01-03,Sunnyside,Queens,40.74523,-73.92318,Private room,1,1.0,1.0,1.0,78.0,31,150,1,2340.0
3,42300,2025-01-03,Lower East Side,Manhattan,40.71992,-73.99167,Entire home/apt,5,2.0,3.0,4.0,750.0,30,240,1,22500.0
4,42729,2025-01-03,Carroll Gardens,Brooklyn,40.67813,-74.00062,Private room,2,1.0,1.0,1.0,185.0,30,60,1,5550.0
5,43105,2025-01-03,Midtown,Manhattan,40.74490,-73.98499,Entire home/apt,2,1.0,1.0,1.0,165.0,30,365,1,4950.0
6,44229,2025-01-03,Fort Greene,Brooklyn,40.69287,-73.97108,Private room,2,1.0,1.0,1.0,110.0,30,30,1,3300.0

In [65]:
# Save the merged DataFrame to a new CSV file
df_filtered.to_csv('Data/airbnb_shorterm_rental_prices.csv', index=False)

# Analysis

In [66]:
neighborhood_file_path = 'Data/neighbourhoods.csv'

neighborhood_df = pd.read_csv(neighborhood_file_path)

neighborhood_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   neighbourhood_group  230 non-null    object
 1   neighbourhood        230 non-null    object
dtypes: object(2)
memory usage: 3.7+ KB

In [67]:
df = pd.read_csv('Data/airbnb_shorterm_rental_prices.csv')

## Monthly by neighborhood analysis

In [68]:
from itertools import product

# Your expanded list (may include neighborhoods not in original data)
target_neighborhoods = sorted(neighborhood_df['neighbourhood'].tolist())

# Months you want to cover (e.g., 1-12)
target_months = range(1, 13)

# Calculate averages for existing data
avg_prices = (
    df.groupby(['neighbourhood_cleansed', 'month'], as_index=False)['monthly_price']
    .agg(['mean', 'count'])  # Calculate both mean and count
    .round(2)  # Round averages
    .reset_index()
    .rename(columns={'mean': 'avg_monthly_price', 'count': 'listing_count'})
    .astype({'listing_count': int}) 
)

#  Create a complete grid (all neighborhoods × all months)
full_grid = pd.DataFrame(
    list(product(target_neighborhoods, target_months)),
    columns=['neighbourhood_cleansed', 'month']
)

# Merge with averages 
avg_prices_complete = full_grid.merge(
    avg_prices,
    on=['neighbourhood_cleansed', 'month'],
    how='left'
)
avg_prices_complete = avg_prices_complete.drop('index', axis=1)
# avg_prices_complete = avg_prices_complete.rename(columns={'neighbourhood_cleansed': 'neighbourhood'})

In [69]:
avg_prices_complete.to_csv('Data/Monthly_price_by_neighborhood.csv', index=False)

## Monthly by neighborhood based on how many people can accomodate analysis